body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;

    a {
        font-size: 20px;
        line-height: 1.2;
        color: #828282;
        text-decoration: none;

        &:hover {
            color: #000;
        }
    }
}

.container {
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 40px;

    b {
        rotate: -90deg;
        margin-bottom: 30px;
    }
}

.denis {
    margin-bottom: 100px;
}

.about {
    text-align: center;
    background-color: #F6F6F6;
    padding-bottom: 100px;
    padding-top: 120px;
}

.about-text {
    font-size: 18px;
    line-height: 1.2;
    max-width: 485px;
    width: 100%;
    margin: 0 auto;
}

.skills {
    text-align: center;
    padding-top: 91px;
    margin-bottom: 100px;

    h1 {
        margin-bottom: 50px;

    }
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

}

.boxx{
    background-color: #F6F6F6;
    text-align: center;
    padding-top: 100px;
}

.sloy{
    padding-top: 47px;
}

.pp{
    padding-top: 44px;
}

.ll{
    padding-top: 99px;
}

.rr{
    padding-top: 44px;
}

.tt{
    padding-top: 99px;
}

.ii{
    padding-top: 30px;
    margin-bottom: 120px;
    
}

.con{
    text-align: center;
    padding-top: 20px;

}

.kay{
    margin-top: 100px;
    margin-bottom: 40px;
}

.gg{
    text-align: center;
}

.mess{
    text-align: center;
    background-color: black;
    width: 130px;
    height: 20px;
    color: #f5ebeb;
    margin: 0 auto;
    border: 0 10 0 10;
}

.tags{
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-top: 86px;
    
}

.bb{
    text-align: center;
    padding-top: 45px;
}
